.ball-logo, .ball-game {
    width: 70px;
    height: 70px;
    float: left;
    top: 27px;
    left: 5px;
    position: relative;
    /*border: 1px solid red !important;*/
    margin-left: 33px;
    background-color: #3f4d67;
}

.ball-logo {
    background-image: url('../Images/greece_round_icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 105px;
}

.ball-numbers {
        width: 70px;
        height: 70px;
        float: left;
        top: 15px;
        left: 5px;
        position: relative;
        /*border: 1px solid red !important;*/
        margin-left: 15px;
        margin-bottom: 10px;
        background-color: #3f4d67;
}

[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: -8px;
    right: 5px;
    font-size: 1em;
    background: #3f4d67;
    color: white;
    width: 18px;
    height: 22px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    /*box-shadow: 0 0 1px #333;*/
}


.ball-selected {
    width: 72px;
    height: 72px;
    display: block;
    /*background: darkred;*/
    position: absolute;
    /*border: 2px solid darkred;*/
    margin-top: -2px;
    margin-left: -2px;
    background-color: #3f4d67;
}
.ball-selected-animation {
    width: 72px;
    height: 72px;
    display: block;
    /*background: darkred;*/
    position: absolute;
    /*border: 2px solid darkred;*/
    margin-top: -2px;
    margin-left: -2px;
    background-color: #3f4d67;
    -webkit-animation: spin1 2s infinite linear;
    -moz-animation: spin1 2s infinite linear;
    -o-animation: spin1 2s infinite linear;
    -ms-animation: spin1 2s infinite linear;
    animation: spin1 2s infinite linear;
    animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
}
.ball-selected-yellow {
    background: -webkit-radial-gradient(65% 15%, circle, white 1px, yellow 3%, orange 60%, yellow 100%);
    background: -moz-radial-gradient(65% 15%, circle, white 1px, yellow 3%, orange 60%, yellow 100%);
    background: -o-radial-gradient(65% 15%, circle, white 1px, yellow 3%, orange 60%, yellow 100%);
    background: radial-gradient(circle at 65% 15%, white 1px, yellow 3%, orange 60%, yellow 100%);
    /*border: 1px solid yellow;*/
}
.ball-selected-green {
    background: -webkit-radial-gradient(65% 15%, circle, white 1px, palegreen 3%, darkgreen 60%, palegreen 100%);
    background: -moz-radial-gradient(65% 15%, circle, white 1px, palegreen 3%, darkgreen 60%, palegreen 100%);
    background: -o-radial-gradient(65% 15%, circle, white 1px, palegreen 3%, darkgreen 60%, palegreen 100%);
    background: radial-gradient(circle at 65% 15%, white 1px, palegreen 3%, darkgreen 60%, palegreen 100%);
    /*border: 1px solid palegreen;*/
}
.ball-selected-red {
    background: -webkit-radial-gradient(65% 15%, circle, white 1px, red 3%, darkred 60%, red 100%);
    background: -moz-radial-gradient(65% 15%, circle, white 1px, red 3%, darkred 60%, red 100%);
    background: -o-radial-gradient(65% 15%, circle, white 1px, red 3%, darkred 60%, red 100%);
    background: radial-gradient(circle at 65% 15%, white 1px, red 3%, darkred 60%, red 100%);
    /*border: 1px solid red;*/
    /*-webkit-animation: spin1 1 2s infinite linear;
    -moz-animation: spin1 1 2s infinite linear;
    -o-animation: spin1 1 2s infinite linear;
    -ms-animation: spin1 1 2s infinite linear;
    animation: spin1 1 2s infinite linear;*/
}
.ball-selected-blue {
    background: -webkit-radial-gradient(65% 15%, circle, white 1px, aqua 3%, darkblue 60%, aqua 100%);
    background: -moz-radial-gradient(65% 15%, circle, white 1px, aqua 3%, darkblue 60%, aqua 100%);
    background: -o-radial-gradient(65% 15%, circle, white 1px, aqua 3%, darkblue 60%, aqua 100%);
    background: radial-gradient(circle at 65% 15%, white 1px, aqua 3%, darkblue 60%, aqua 100%);
    /*border: 1px solid aqua;*/
}
.ball-selected-black {
    background: black;
    background: -webkit-radial-gradient(65% 15%, circle, white 1px, black 3%, black 60%, black 100%);
    background: -moz-radial-gradient(65% 15%, circle, white 1px, black 3%, black 60%, black 100%);
    background: -o-radial-gradient(65% 15%, circle, white 1px, black 3%, black 60%, black 100%);
    background: radial-gradient(circle at 65% 15%, white 1px, black 3%, black 60%, black 100%);
    /*border: 1px solid black;*/
}


.ball-inner-circle {
    display: block;
    border: 2px solid white;
    position: relative;
    margin: 23%;
    width: 33px;
    height: 33px;
}
.ball-circle-number {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: white;
    border: none;
    margin: 5%;
    font-size:1.6em;
}
.ball-circle-number span {
    text-align: center;
    vertical-align: middle;
    display:block;
}

/**/
.ball-numbers-medium {
    width: 100px;
    height: 100px;
    float: left;
    top: 15px;
    left: 5px;
    position: relative;
    margin-left: 15px;
    margin-bottom: 10px;
    background-color: #3f4d67;
}
.ball-numbers-medium .ball-selected {
    width: 102px;
    height: 102px;
}
.ball-numbers-medium .ball-selected .ball-inner-circle {
    margin: 22%;
    width: 53px;
    height: 53px;
}
.ball-numbers-medium .ball-selected .ball-inner-circle .ball-circle-number {
    margin: 3%;
    width: 50px;
    height: 50px;
    font-size:2.6em;
}

@-webkit-keyframes spin1 {
        0% {
        -webkit-transform: scale(.1) rotate(0deg);
    }

    100% {
        -webkit-transform: scale(1.1) rotate(360deg);

    }
}

@-moz-keyframes spin1 {
    0% {
        -moz-transform: scale(.1) rotate(0deg);
    }

    100% {
        -moz-transform: scale(1.1) rotate(360deg);
    }
}

@-o-keyframes spin1 {
    0% {
        -o-transform: scale(.1) rotate(0deg);
    }

    100% {
        -o-transform: scale(1.1) rotate(360deg);
    }
}

@-ms-keyframes spin1 {
    0% {
        -ms-transform: scale(.1) rotate(0deg);
    }

    100% {
        -ms-transform: scale(1.1) rotate(360deg);
    }
}

@-keyframes spin1 {
    0% {
        transform: scale(.1) rotate(0deg);
    }

    100% {
        transform: scale(1.1) rotate(360deg);
    }
} 